[Unit]
Description=Ensure keys are protected
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'rm %h/.ssh/id_bri %h/.ssh/id_cjl'

[Install]
WantedBy=shutdown.target
